.green {
  background-color: #5EB09B;
}
.purple {
  background-color: #7C81EA
}
.dark-grey {
  background-color: #333;
}
.orange {
  background-color: #f90;
}
.black {
  background-color: black;
}
.red {
  background-color: #CC0000;
}
.yellow {
  background-color: #FFCE67;
}
.blue {
  background-color: #389EC5;
}
.beige {
  background-color: beige;
}
.aqua {
  background-color: #acdacf;
  }
