.fb {
  background-image: url("../img/facebook.png");
  background-repeat: no-repeat;
}
.krojac {
  background-image: url("../img/krojacevaskola.png");
  background-repeat: no-repeat;
}
.twitter {
  background-image: url("../img/twitter.png");
  background-repeat: no-repeat;
}
.instagram {
  background-image: url("../img/instagram.png");
  background-repeat: no-repeat;
}
.youtube {
  background-image: url("../img/youtube.png");
  background-repeat: no-repeat;
}
