$main-font: 'Istok Web', sans-serif;
$bkg-color: #eee;
$font-color: #000000;
$header-color: #333333;
$title-color: #FFCE67;
$text-color: #999999;
$font-size: 16px;
$footer-text: #598191;
$detailed-text: #666;
